/* Style de base pour la sidebar */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2c3e50; 
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Style pour la sidebar en mode réduit */
.sidebar.collapsed {
  width: 60px;
}

/* Style link */
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar li a {
  padding: 12px 15px;
  text-decoration: none;
  font-size: 16px;
  color: #ecf0f1;
  display: flex;
  align-items: center;
  transition: 0.3s;
  white-space: nowrap;
}

/* Animation hover link */
.sidebar li a:hover {
  background-color: #34495e;
  color: green;
}

/* Style toggle */
.toggle-btn {
  display: block;
  margin: 0 auto 20px auto;
  background: none;
  border: none;
  color: #ecf0f1;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  width: 100%;
}

.toggle-btn:hover {
  color: green;
}

/* Style icon */
.sidebar .icon {
  font-size: 20px;
  min-width: 35px;
  display: inline-block;
  text-align: center;
}

/* Style text link */
.sidebar .link-text {
  margin-left: 10px;
  transition: opacity 0.3s;
  display: inline-block;
}

/* hide text, display icons mode réduit */
.sidebar.collapsed .link-text {
  display: none;
}

/* Élément actif */
.sidebar li a.active {
  background-color: #34495e;
  color: #3498db;
}

/* Eviter la superposition entre le content de la page et la sidebar */
body {
  margin-left: 60px; /* Valeur minimale de la sidebar */
  transition: margin-left 0.3s;
}

body.sidebar-expanded {
  margin-left: 250px;
}

/* Tooltips pour le mode réduit */
.sidebar.collapsed li a:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 60px;
  background-color: #34495e;
  color: #ecf0f1;
  padding: 8px 12px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1002;
}