{% extends 'base.html' %}

{% block title %}Page 3 - Fournisseurs{% endblock %}

{% block content %}
    <h2>Bienvenue sur la page des fournisseurs</h2>
    <h2>Liste des Fournisseurs</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nom du Contractant</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Ville</th>
                    <th>NIF</th>
                    <th>Activité</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if fournisseurs %}
                    {% for fournisseur in fournisseurs %}
                    <tr>
                        <td>{{ fournisseur.nom_du_contractant }}</td>
                        <td>{{ fournisseur.email }}</td>
                        <td>{{ fournisseur.telephone }}</td>
                        <td>{{ fournisseur.ville }}</td>
                        <td>{{ fournisseur.nif }}</td>
                        <td>{{ fournisseur.activite }}</td>
                        <td class="actions">
                            <a href="#" class="btn btn-details" onclick="openDetailsPopup({{ fournisseur.id}})">Détails</a>
                            <a href="#" class="btn btn-modifier" onclick="openEditPopup({{ fournisseur.id }})">Modifier</a>
                            <a href="#" class="btn btn-supprimer">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">Aucun fournisseur trouvé.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<button id="openPopup" class="btn btn-ajouter">Ajouter un Fournisseur</button>

 <!-- Pop-up pour les détails -->

{% include 'fournisseurs/details_fournisseur_popup.html' %}

<!-- Pop-up pour la modification -->
<div id="editPopup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closeEditPopup()">&times;</span>
        <h2>Modifier le Fournisseur</h2>
        <form id="editForm" method="post" class="form-popup">
            {% csrf_token %}
            <div id="editFormContent"></div>
            <button type="submit" class="btn btn-modifier">Enregistrer</button>
        </form>
    </div>
</div>

<!-- Popup pour ajouter un fournisseur -->
{% include 'fournisseurs/ajouter_fournisseur_popup.html' %}
<script>

    // JavaScript pour gérer l'ouverture et la fermeture des popups :

    //Ajout fournisseur dans ajouter_fournisseur_popup.html
    
    // afficher détails dans details_fournisseur_popup.html

// Fermer en cliquant à l'extérieur
window.addEventListener('click', function(event) {
    if (event.target.classList.contains('popup')) {
        event.target.style.display = 'none';
        document.body.style.overflow = 'auto';
    }
});


    //Modification -----------------------------------------
    function openEditPopup(fournisseurId) {
            fetch(`/fournisseurs/modifier/${fournisseurId}/`)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('editFormContent').innerHTML = data;
                    document.getElementById('editPopup').style.display = 'block';
                });
        }

        function closeEditPopup() {
            document.getElementById('editPopup').style.display = 'none';
        }

    //Gestion modification
    document.getElementById('editForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch(this.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                },
            })
                .then(response => {
                    if (response.ok) {
                        window.location.reload(); // Recharger la page après la modification
                    }
                });
        });
</script>
{% endblock %}