<div id="deletePopup" class="popup supp-popup"  style="display: none;"> 
    <div class="popup-content">
        <span class="close" onclick="closeDeletePopup()">&times;</span>
            <div class="popup-body">
            <h2>Supprimer le fournisseur ?</h2>
            <p>Voulez-vous vraiment supprimer ce fournisseur "<span id="nomFournisseur"></span>" ? Cette action est irréversible.</p>
            <form id='deleteForm' method="post">
                {% csrf_token %}
                <input type="hidden" name="_method" value="DELETE">
                <div class="confirmation">
                    <button type="button" class="btn btn-neutre" onclick="closeDeletePopup()">Annuler</button>
                    <button type="submit" class="btn btn-supprimer">Supprimer</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    let fournisseurIdToDelete = null;

    function openDeletePopup(fournisseurId) {
        console.log("Ouverture du popup pour fournisseur ID:", fournisseurId);
        fournisseurIdToDelete = fournisseurId;

        // Récupérer le nom du fournisseur via une requête AJAX
        fetch(`/fournisseurs/supprimer/${fournisseurId}/`, {
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            // Injecter le nom dans le popup
            document.getElementById('nomFournisseur').textContent = data.fournisseur;
            document.getElementById('deletePopup').style.display = 'flex';
        })
        .catch(error => {
            console.error(error);
            alert("Erreur lors du chargement du fournisseur");
        });
    }

    function closeDeletePopup() {
        document.getElementById('deletePopup').style.display = 'none';
    }

    document.getElementById('deleteForm').addEventListener('submit', function (event) {
        event.preventDefault();
        if (!fournisseurIdToDelete) return;

        fetch(`/fournisseurs/supprimer/${fournisseurIdToDelete}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                'X-Requested-With': 'XMLHttpRequest',
            },
            body: '_method=DELETE',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.reload();
            } else {
                alert("Erreur lors de la suppression.");
            }
        });
    });
    document.querySelectorAll('.close-btn').forEach(btn => {
    btn.addEventListener('click', () => {
        closePopup(btn.closest('.popup').id);
    });
});
</script>

